/* @charset "ISO-8859-1"; */

html{
	color: #000;
}

body{
	background-color: #2E5266 !important;
}

.restaurant-list{
	background: aqua;
	
}

/* Páginas de confirmação ou erro na reserva */
.jumbotron.error{
	background-color: #FFCCCB;
}
.jumbotron.success{
	background-color: #CCFFCD:
}
